

* {
    margin: 0;
    padding: 0;
}

main {
    background: beige;
    width: 80%;
    min-width: 100vw;
    min-height: 100vh;
    float: left
}

header h1 {
    text-align: center;
    background: yellow;  
}

.btn {
    width: 50%;
    background:#787878;
    text-align: center;
    text-decoration: none;
    color: #ccc;
    padding: 10px;
    margin: 10px;
    border-radius:20px;
}

.video {
    min-width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

header>nav {
    width: 500px;
    height: 6Opx;
    float: right
}

nav>ul {
    list-style: none;
}

nav>ul>li {
    width: 100px;
    height: 60px;
    display: block;
    float: left;
    text-align: center;
    line-height: 60px;
}

nav>ul>li>a {
    text-decoration: none;
    color: peru;
}

nav>ul>li>a:hover {
    color: plum
}



footer {
    padding: 15px;
    background: gray;
    text-align: center;
    width: 100%;
    min-height: 100px;
    clear: both;
}